.navbar a:hover {
    border-bottom: 3px solid #34c7a9;
    color: #34c7a9;
  }

.navbar-brand,
.navbar-nav a b {
  font-family: 'Merriweather', cursive;
  font-size: large;
  color: #34c7a9;
}
.navbar-nav .nav-link:hover {
  color: #34c7a9;
}
.navbar{
  background-color: white;
}